// nextflow.config

profiles {
  docker {
    // docker.runOptions = '-u $(id -u):$(id -g)' // running as user is a bad idea in this case. mc cannot save the config file due to permissions
    docker.enabled = true
    docker.fixOwnership = true
    process {
      executor = 'local'
      container = 'bugraoezdemir/bconv:minimised'
      // container = 'bugraoezdemir/bconv:minimised'
    }
    workDir = "${baseDir}/WorkDir/work"
    tmpDir = "${baseDir}/WorkDir/tmp"
  }
  singularity {
    singularity.enabled = true
    singularity.cacheDir = "${baseDir}/.singularityCache"
    singularity.autoMounts = true
    process {
      executor = 'local'
      container = 'docker://bugraoezdemir/bconv:minimised'
    }
    workDir = "${baseDir}/WorkDir/work"
    tmpDir = "${baseDir}/WorkDir/tmp"
  }
  conda {
    conda.enabled = true
    conda.cacheDir = "${baseDir}/.condaCache"
    process {
      executor = 'local'
      conda = "${baseDir}/dependencies/environment.yml"
    }
    workDir = "${baseDir}/WorkDir/work"
    tmpDir = "${baseDir}/WorkDir/tmp"
  }
  standard {
    process {
      executor = 'local'
    }
    workDir = "${baseDir}/WorkDir/work"
    tmpDir = "${baseDir}/WorkDir/tmp"
  }
  cluster {
    singularity.enabled = true
    singularity.cacheDir = "${baseDir}/.condaCache"
    singularity.autoMounts = true
    process {
      executor = 'slurm'
      queueSize = params.queue_size
      submitRateLimit = params.submit_rate_limit
      clusterOptions = params.cluster_options
      time = '6h'
      container = 'docker://bugraoezdemir/bconv:minimised'
      containerOptions = '-B ${workdir}:${workdir}'
    }
    workDir = "/scratch/.batchconvert/work"
    tmpDir = "/scratch/.batchconvert/tmp"
  }
}

env {
    BIA_SSH_KEY = "${baseDir}/configs/asperaweb_id_dsa.openssh"
}

// cleanup = true
